<footer class="footer">
    <div class="contenedor-footer">
        <div class="descripcion-footer">
            <div class="titulo-footer">SEMILLAS</div>
            Somos una empresa que bla bla bla, semillas y cosas para jardín bla bla.
        </div>
        <div class="contenedor-links-footer">
            <div class="seccion-footer">
                <div class="titulo-footer">TIENDA</div>
                <hr>
                <ul class="links-footer">
                    <li><a href="/lista" class="subseccion-f">Semillas</a></li>
                    <li><a href="/agregar" class="subseccion-f">Agregar</a></li>
                    <li><a href="/modificar" class="subseccion-f">Modificar</a></li>
                </ul>
            </div>
            <div class="seccion-footer">
                <div class="titulo-footer">EMPRESA</div>
                <hr>
                <ul class="links-footer">
                    <li><a href="#" class="subseccion-f">About us</a></li>
                    <li><a href="#" class="subseccion-f">Contáctanos</a></li>
                    <li><a href="#" class="subseccion-f">FAQs</a></li>
            </div>
            <div class="seccion-footer">
                <div class="titulo-footer">CUENTA</div>
                <hr>
                <ul class="links-footer">
                    <li><a href="/login" class="subseccion-f" id="inicio-sesion-footer">Iniciar sesión</a></li>
                    <li><a href="#" class="subseccion-f">Mis pedidos</a></li>
            </div>
        </div>
    </div>

</footer>