<header>
    <div class="main-header">
        <div class="navbar">
            <div class="menu-celular">
                <a href="#" class=hamburger-button><i class="fas fa-bars"></i> MENU</a>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="/images/LogoTemporal.png" alt="Logo" class="logo-imagen">
                </a>
            </div>
            <div class="cambiante">
                Aquí deben aparecer textos o animaciones cuando hagas hover a las opciones de la derecha.
            </div>
            <div class="nav1">
                <div class="n1">
                    <a href="/lista">SEMILLAS</a>
                </div>
                <div class="n1">
                    <a href="">ABOUT US</a>
                </div>
            </div>
            <div class="nav1">
                <div class="n1">
                    <a href="/carrito" class="link-carrito"><i class="fas fa-shopping-cart"></i> 0</a>
                </div>
                <div class="n1">
                    <a href="/login"><i class="fas fa-user"></i> SESIÓN</a>
                </div>
            </div>
            <div class="carrito">
                <a href="/carrito" class="link-carrito"><i class="fas fa-shopping-cart"></i> 0</a>
            </div>
        </div>
        <div class="div-lista">
            <ul class="lista-menu">
                <li><a href="#" class="seccion">TIENDA</a></li>
                <ul class=lista-menu>
                    <li><a href="/lista" class="subseccion">Semillas</a></li>
                </ul>
                <br>
                <li><a href="#" class="seccion">COMPAÑÍA</a></li>
                <ul class=lista-menu>
                    <li><a href="#" class="subseccion">About us</a></li>
                    <li><a href="#" class="subseccion">Contáctanos</a></li>
                    <li><a href="#" class="subseccion">FAQs</a></li>
                </ul>
                <br>
                <li><a href="#" class="seccion">CUENTA</a></li>
                <ul class=lista-menu>
                    <li><a href="/login" class="subseccion" id="inicio-sesion"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                    <li><a href="#" class="subseccion">Mis pedidos</a></li>
                </ul>
        </div>
    </div>
</header>