<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a61d9a5be5.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesCarrito.css">
</head>


<body>
    <header>
        <div class="main-header">
            <div class="navbar">
                <div class="menu-celular">
                    <a href="#" class=hamburger-button><i class="fas fa-bars"></i> MENU</a>
                </div>
                <div class="logo">
                    <a href="/">
                        <img src="/images/Logo temporal.png" alt="Logo" class="logo-imagen">
                    </a>
                </div>
                <div class="cambiante">
                    Aquí deben aparecer textos o animaciones cuando hagas hover a las opciones de la derecha.
                </div>
                <div class="nav1">
                    <div class="n1">
                        <a href="/views/vistaProducto.html">SEMILLAS</a>
                    </div>
                    <div class="n1">
                        JARDÍN
                    </div>
                </div>
                <div class="nav1">
                    <div class="n1">
                        <a href="/views/carrito.html" class="link-carrito"><i class="fas fa-shopping-cart"></i> 0</a>
                    </div>
                    <div class="n1">
                        ABOUT US
                    </div>
                </div>
                <div class="carrito">
                    <a href="/views/carrito.html" class="link-carrito"><i class="fas fa-shopping-cart"></i> 0</a>
                </div>
            </div>
            <div class="div-lista">
                <ul class="lista-menu">
                    <li><a href="#" class="seccion">TIENDA</a></li>
                    <ul class=lista-menu>
                        <li><a href="#" class="subseccion">Semillas</a></li>
                        <li><a href="#" class="subseccion">Jardín</a></li>
                    </ul>
                    <br>
                    <li><a href="#" class="seccion">COMPAÑÍA</a></li>
                    <ul class=lista-menu>
                        <li><a href="#" class="subseccion">About us</a></li>
                        <li><a href="#" class="subseccion">Contáctanos</a></li>
                        <li><a href="#" class="subseccion">FAQs</a></li>
                    </ul>
                    <br>
                    <li><a href="#" class="seccion">CUENTA</a></li>
                    <ul class=lista-menu>
                        <li><a href="#" class="subseccion" id="inicio-sesion">Iniciar sesión</a></li>
                        <li><a href="#" class="subseccion">Mis pedidos</a></li>
                    </ul>
            </div>
        </div>
    </header>



    <div class="cuerpo">

        <div class="encabezado">
            <div class="total">
                <p class="titulo-carrito">Tu Carrito</p>&nbsp;&nbsp;
                <p class="cantidad-total">$30.98</p>
            </div>
            <div class="botones">
                <button class="continuar-compra">SEGUIR COMPRANDO</button>
                <button class="pagar">PAGAR</button>
            </div>
        </div>


        <div class="productos-agregados">
            <article class="producto">
                <img src="/images/SemillaAgeratumAzul.jpg" alt="Ageratum Azul" class="imagen-producto">
                <p class="nombre-producto">Ageratum Azul</p>
                <div class="tache"><i class="fas fa-times"></i></div>
                <form action="obtener-cantidad" method="get">
                    <input type="number" name="cantidad" id="cantidad" class="cantidad-producto" step="1" min="1"
                        max="10" value="cantidad" placeholder="1" inputmode="numeric">
                </form>
                <p class="precio-producto">$16.49</p>
            </article>
            <article class="producto">
                <img src="/images/SemillaZanahoriaR.jpg" alt="Zanahoria" class="imagen-producto">
                <p class="nombre-producto">Zanahoria</p>
                <div class="tache"><i class="fas fa-times"></i></div>
                <form action="obtener-cantidad" method="get">
                    <input type="number" name="cantidad" id="cantidad" class="cantidad-producto" step="1" min="1"
                        max="10" value="cantidad" placeholder="1" inputmode="numeric">
                </form>
                <p class="precio-producto">$14.49</p>
            </article>
            
            <div class="search-placeholder"></div>
        </div>

        <div class="precios">
            <div class="subtotal">
                <p class="sub">SUBTOTAL</p>
                <p class="num-subtotal">$30.98</p>
            </div>
            <div class="costo-envio">
                <button class="envio"><i class="fas fa-paper-plane"></i>&nbsp;COSTO DE ENVÍO</button>
                <p class="calculo-envio">$$$$</p>
            </div>
            <div class="calculo-total">
                <p class="calc-total">TOTAL</p>
                <p class="num-total">$30.98</p>
            </div>
        </div>


    </div>




    <footer class="footer">
        <div class="contenedor-footer">
            <div class="descripcion-footer">
                <div class="titulo-footer">SEMILLAS</div>
                Somos una empresa que bla bla bla, semillas y cosas para jardín bla bla.
            </div>
            <div class="contenedor-links-footer">
                <div class="seccion-footer">
                    <div class="titulo-footer">TIENDA</div>
                    <hr>
                    <ul class="links-footer">
                        <li><a href="#" class="subseccion-f">Todo</a></li>
                        <li><a href="#" class="subseccion-f">Semillas</a></li>
                        <li><a href="#" class="subseccion-f">Jardín</a></li>
                    </ul>
                </div>
                <div class="seccion-footer">
                    <div class="titulo-footer">EMPRESA</div>
                    <hr>
                    <ul class="links-footer">
                        <li><a href="#" class="subseccion-f">About us</a></li>
                        <li><a href="#" class="subseccion-f">Contáctanos</a></li>
                        <li><a href="#" class="subseccion-f">FAQs</a></li>
                </div>
                <div class="seccion-footer">
                    <div class="titulo-footer">CUENTA</div>
                    <hr>
                    <ul class="links-footer">
                        <li><a href="/views/ingresar.html" class="subseccion-f" id="inicio-sesion-footer">Iniciar sesión</a></li>
                        <li><a href="#" class="subseccion-f">Mis pedidos</a></li>
                </div>
            </div>
        </div>

    </footer>

</body>



</html>