<%- include('partials/head') %>
    <link rel="stylesheet" href="/css/stylesHome.css">
</head>


<body>
    <%- include('partials/header') %>

    <div class="cuerpo">
        <div class="carrusel-inicio">

        </div>
        <div class="tipos-semillas">
            <p class="titulo-tipos">TIPOS DE SEMILLAS</p>
            <div class="div-tipo">
                <div class="circular">
                    <img src="/images/flores.jpg" alt="Flores">
                </div>
                <p class="nombre">FLORES</p>
            </div>
            <div class="div-tipo">
                <div class="circular">
                    <img src="/images/cosecha.jpg" alt="Flores">
                </div>
                <p class="nombre">VEGETALES</p>
            </div>
            <div class="div-tipo">
                <div class="circular">
                    <img src="/images/sembrar.jpg" alt="Flores">
                </div>
                <p class="nombre">ORGÁNICAS</p>
            </div>
            <div class="div-tipo">
                <div class="circular">
                    <img src="/images/semillero.jpg" alt="Flores">
                </div>
                <p class="nombre">HIERBAS</p>
            </div>
            <div class="div-tipo">
                <div class="circular">
                    <img src="/images/cosecha2.jpg" alt="Flores">
                </div>
                <p class="nombre">HORTALIZAS</p>
            </div>
        </div>
        <div class="imagen-intermedia">
        </div>
        <div class="descripcion-empresa">
            <div class="letras">
                Todas nuestras semillas vienen de blablabla. Huertos urbanos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestiae dolores itaque facere harum magnam similique, soluta, corrupti dicta
                assumenda cupiditate sit, perferendis enim illo.
            </div>
            <div class="imagen-descripcion">
            </div>
        </div>
        <div class="final">
            <i class="fas fa-seedling"></i>
            <i class="fas fa-spa"></i>
            <i class="fab fa-pagelines"></i>
            <i class="fas fa-leaf"></i>
        </div>

        <%- include('partials/footer') %> 

    </div>

</body>



</html>