*{
    box-sizing: border-box;
}

header{
    font-family: 'Space Mono', monospace;
    background-color:#154734;
    margin:none;
}

.main-header{
    border-width: 10px;
    padding: 20px 15px;
}

.main-header a{
    text-decoration: none;
    color: #edebe5;
}

.main-header a:hover{
    color:white;
  }

.n1:hover{
    color:#154734;
}

.navbar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #edebe5;
}

.menu-celular{
    display:block;
}

.hamburger-button{
    color:#edebe5;
    text-decoration: none;
    font-size: 15px;
    background-color: #154734;
    padding:8px;
}


.div-lista{
    padding:20px;
    background-color: #edebe5;
    display:none;
}


.lista-menu{
    list-style: none;
    margin:0px;
    padding:0px;
}

.seccion{
    font-weight: 600;
    font-size:16px;
    text-decoration: none;
    color:black;
}

.subseccion{
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color:black;
    padding-left: 15px;
}

#inicio-sesion{
    border:2px solid #edebe5;
    padding-right: 15px;
}

/*.logo{
    padding:0px;
}*/

.logo-imagen{
    width:150px;
}

.carrito{
    display:inline-block;
}

.nav1{
    display:none;
}

.cambiante{
    display:none;
}



html, body{
    font-family:'Libre Baskerville', serif;
    margin:0px;
    padding:0px;
}

footer{
    font-family: 'Space Mono', monospace;
    width:100%;
    position: relative;
    bottom: 0;
}

.contenedor-footer{
    background-color:#e1e7e1;
}

.descripcion-footer{
    width:100%;
    padding:20px 40px;
    font-size: 12px;
    text-align: center;
    color:#777a77;
}

.contenedor-links-footer{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.titulo-footer{
    font-weight: 700;
    color:black;
}

.seccion-footer{
    align-content: center;
    display:inline-block;
    padding:15px;
    text-align: center;
    font-size:13px;
    flex-grow:1;
    width:150px;
}

.seccion-footer hr{
    flex-grow:1;
    width:130px;
}

.subseccion-f{
    text-decoration: none;
    font-size: 12px;
    color:black;
}

.subseccion-f:hover{
    color:#154734;
}

.links-footer{
    list-style: none;
    margin:0px;
    padding:0px;
}

#inicio-sesion-footer{
    padding:2px 8px;
}

#inicio-sesion-footer:hover{
    background-color:#154734;
    color:#e1e7e1;
}


@media (min-width: 550px){

    .menu-celular{
        display:none;
    }

    .carrito{
        display:none;
    }

    .navbar{
        justify-content: center;
    }

    .logo{
    width:30%;
     height:85.5px;
     border:1px solid #edebe5;
     display:flex;
     flex-wrap:wrap;
     justify-content: center;
     align-items: center;  
    }

    .nav1{
        width:30%;
        display:flex;
        height:85px;
        flex-direction: column;
    }

    .n1{
        border:1px solid #edebe5;
        display:block;
        padding: 8.5px 30px 8.5px;
        margin:0px;
    }

    .n1:hover a, .n1:hover{
        color:#154734;
        background-color: #edebe5;
    }

    .descripcion-footer{
        font-size: 14px;
    }

    .seccion-footer{
        font-size: 15px;
    }

    .subseccion-f{
        font-size: 14px;
    }

}


@media (min-width: 800px){

    .cambiante{
        display:block;
        border:1px solid #edebe5;
        height:85.5px;
        width:22%;
        font-size: 12px;
        padding:10px;
    }
    
    .logo{
        width:22%;
         height:85.5px;
         border:1px solid #edebe5;
         display:flex;
         flex-wrap:wrap;
         justify-content: center;
         align-items: center;  
        }
    
        .nav1{
            width:22%;
            display:flex;
            height:85px;
            flex-direction: column;
        }

        .descripcion-footer{
            font-size: 16px;
        }
    
        .seccion-footer{
            font-size: 17px;
        }
    
        .subseccion-f{
            font-size: 16px;
        }
}