section{ 
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#usuario {
    width: 300px;
    height: 330px;
}

.usuario {
    position: relative;
    top: 20px;
    padding-left: 45px;
    width: 200px;
    height: 300px;
   display: flex;
   flex-direction: column;
}

#nuevo {
    width: 300px;
    height: 450px;
    text-align: center;
}

.ingresar {
    transition: .3s;
}
.ingresar:hover{
    background-color:#154734;
    color: white;
}

.links {
    color: black;
}
.links:hover {
    color: blue;
}
#aviso {
    text-align: center;
    padding-top: 50px;
}
#final {
    padding-top: 3px;
    height: 20px;
    background-color: rgb(211,211,211);
}